

*{
    box-sizing: border-box;
    margin: 0px;
   
    
    justify-content: center;
   

}
body{
    background-image: url("https://res.cloudinary.com/drzlum1yv/image/upload/v1714221039/Picsart_24-04-27_17-49-23-615_mwgx2m.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #263b65;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.logo{
   font-size: 35px;
    margin: 20px;
    margin-left: 30px;
    color:#019aa0;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
    
}

.green{
    color:#72be42;
    font-size: 35px;
    font-weight:900;
    font-family: "Roboto Condensed", sans-serif;
}
.navbar{
    display: flex;
    flex-direction:row ;
    justify-content:space-between;
    align-items: center;
    color: #263b65;
}
span{
    font-weight: 400;
}
.navs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #263b65;
}
.flag{
    height: 35px;
    border-radius: 12px;
}
.nav-item{
  padding:10px;
    border-style: dashed;
    border-radius:4px;
   margin: 10px;
   height: 60px;
  
   
   align-items: center;

   font-size: 12px;
   font-weight: bold;
  
}
i{
   font-size: 30px;
    margin: 10px;
}
.special-nav-item{
    background-image:linear-gradient(to right,#24447f,#3b68b8);
   
    font-weight: bold;
    display: flex;
   font-size: 12px;
    padding: 10px;
    border-style: none;
    border-radius: 4px;
    margin: 10px;
    height: 60px;
    align-items: center;
    color:white;
}
.special{
    display: flex;
}
.content{
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    color: #263b65;
    font-weight: bold;
}
h2{
    font-weight: 400;
    color: #263b65;
}
.booking-section{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.option-container{
    background-color: white;
 
    border-radius: 20px;
    display: flex;

    align-items: center;
   padding: 5px;
    margin-top: 20px;
    position: relative;
    top: 30px;
 
    
    
}
.option-container i{
    font-size: 20px;
    
}
.option-container div{
    background-color: #dff1ff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left:8px;
    padding-right:9px;
    margin: 8px;
    border-radius: 25px;
    font-weight: 600;
}
.option-content{
   
    background-image: linear-gradient(to top,#24447f,#3b68b8);

padding:20px;
padding-top:60px;
color:white;
border-radius: 10px;
height: 40%;
width: 70%;
text-align: left;
}
.details-container{
    display: flex;
    flex-direction: row;
    
    
}
.details{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 12px;
    width:400px;
    height: 70px;
    border: 5px;
    margin: 5px;
    border:solid 1px white;
    padding: 15px;
    
    border-radius:8px;

    
}

.details i{
    font-size: 12px;
    margin-bottom:0px;
}
.search-box{
    background-color: white;
    border-radius:8px;
    padding: 10px;
    height: 70px;
}
.rating{
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
}

.rating i{
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
}
.rating-box{
    background-color: white;
    border-radius: 2px;
  padding: 5px;
    margin: 5px;
    color: #263661;
}
.additional-option{
    margin-top: 10px;
    font-size: 12px;
    color:white;
}
.additional-option i{
    font-size: 12px;
    margin-left:0px;
}


.vl {
    border-left: 1px solid #263661;
    height: 70px;
    margin: 10px;
  }
  .about-section{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
   
   justify-content: center;
   
   
  }
  hr{
    border:1px solid #263661;
    width: 70%;
    text-align: center;
    margin-left: 220px;
    margin-bottom: 10px;
  }
  
  .item{
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    
  }
  .item h1{
    font-weight: 700;
    font-size: 45px;
  }
  .item p{
    text-align: left;
    margin: 10px;
  }
  .last-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
  }
  .last-item div{
    display: flex;
    justify-content: center;
  }
  .last-item p{
    text-align: left;
  }
  .last-item div i{
   
    margin: 0px;
    margin-right: 10px;
  }
  .last-item div h2{
    font-size: 25px;
    font-weight: 500;
  }
  .features{
    display:flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    padding: 8px;

  }
  .features img{
    height: 45px;
    width: 45px;
    margin-right: 5px;
    border-radius: 12px;
  }
  .features div{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    margin-right: 10px;
  }
  .features div div{
    display:flex;
    flex-direction: column;
   justify-content: center;
  
    
  }
  .features p{
    text-align:left;
  }
  